<head>
    <meta charset="UTF-8">
    <meta name="author" content="Student UAB">
    <meta name="keywords"
        content="CS2, Counter-Strike 2, CS2 skins, skin marketplace, buy CS2 skins, CS2 strats, smoke lineups, esports tracker, StrikeHub, gaming hub, CS2 inventory">
    <meta name="description"
        content="StrikeHub este cel mai complex portal pentru fanii Counter-Strike 2, oferind un marketplace avansat pentru skin-uri, tactici și detalii despre turnee">
    <meta name="msapplication-TileColor" content="#ff8c00">
    <title>
        <%= typeof title !=='undefined' ? title : 'StrikeHub - Platforma Globală pentru Counter-Strike 2' %>
    </title>
    <link rel="icon" href="/resurse/ico/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/eroare.css">
    <script src="/js/script.js" defer></script>
</head>